

.about-container{
    position: relative;
    min-height: 100vh;
    padding: 50px 40px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    position: inherit;
    margin-top: -50px;
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 50%;
    user-select: none;
}
.main-img{
    position: absolute;
    height: 300px;
    width: 300px;
    border: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
       /* animation: spin 8s linear infinite; */
}
@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}
.main-img.active{
    /* animation: spin 8s linear infinite;
}
@keyframes spin{
    to{
        transform:rotate(360deg);
    } */
}
/* .circle{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 10px solid rgb(121, 137, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2 ease;
    padding: 6px;
} */

/* .circle:nth-child(1){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(110%,-210%);
}
.circle:nth-child(2){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(210%, -120%);
}
.circle:nth-child(3){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(240%);
}
.circle:nth-child(4){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(210%,120%);
}
.circle:nth-child(5){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(110%,210%);
}

.circle:nth-child(6){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-20%,240%);
}

.circle:nth-child(7){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-240%,-10%);
}

.circle:nth-child(8){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-200%,-130%);
}

.circle:nth-child(9){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-120%,-210%);
}


.circle:nth-child(10){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-0%,-240%);
}
.circle:nth-child(11){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-140%,200%);
}


.circle:nth-child(12){
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-220%,110%);

}
 */





.img{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid rgb(108,161,197);
    
    /* transform: translate(-200px);
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards; */
}
/* @keyframes fade-in {
    to{
        transform: translate(0);
        opacity: 1;
    }
} */